name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: jahnavist04
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=800000&color_dots=#1a0000,#330000,#4d0000,#660000,#800000

      - name: Push Snake
        uses: EndBug/add-and-commit@v9
        with:
          add: "dist"
          message: "update snake animation"
